/* Resetting default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Setting up basic layout */
html, 
body {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    overflow-x: hidden;
    background-color: rgb(137, 137, 137);
    
}


.calendar-container {
    
    width: 100%;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 2px rgb(55, 255, 0);
    
  
}

.calendar {
    height: 300px;
    width: 250px;
    border-collapse: collapse;
    box-shadow: 0 0 20px #00000026;
    table-layout: fixed;
   
}


.calendar caption {
    
    width: 100%;
    display: table-caption;
}


.calendar caption .month-year {
    height: 30px;
    
    position: relative;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: #ff6f00;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
}

.calendar caption .month-year:hover{
    background-color: #ffc800;
}





.carrot {
    position: absolute;
    right: 0;

    font-weight: 800;

    margin-right: 10px;
    font-size: 20px;
    transform: scaleY(-1); 
}

.carrot::after {
    content: '^';
    display: block;
    transform: scaleY(1); 
    color: #ffc800;
    transition: transform 0.5s ease, color 0.5s ease; 
}

.calendar .month-year:hover .carrot::after {
    transform: scaleY(-1); 
    color: #ff5500; 
} 





/* Background */
.calendar thead tr {
    background-color: #990000;
    color: #ffffff;

    font-size: 15px;
}

.calendar tbody tr:nth-of-type(odd) {
    background-color: #ffffff;
}

.calendar tbody tr:nth-of-type(even) {
    background-color: #c5c5c5;
}


.calendar th {
    height: 30px;
    text-align: center;

    border: 2px solid #000000;
}

.calendar td {

    font-size: 15px;
    padding: 3px 8px;

    vertical-align: top;
    text-align: right;

    cursor: pointer;
    border: 2px solid #000000;
    transition: background-color 0.5s, color 0.5s;
}

.calendar td:hover {
    background-color: #e0f7fa;
}





.display-none {
    display: none;
    
}
.display-flex {
    display: flex;
}



.years-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: solid 2px rgb(0, 0, 0);
}

.years-display {
    position: relative;
    width: 100%;
    border: solid 2px rgb(115, 0, 255);
    background-color: #ff6f00;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 30px;
    font-size: 15px;
    
}

.arrow {
    position: absolute;
    color: #000000;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.5s;
}

.arrow:hover {
    color: gray;
}

.arrow.left {
    left: 0;
    padding-left: 15px;
    padding-right: 10px;
}

.arrow.right {
    right: 0;
    padding-right: 15px;
    padding-left: 10px;
}

.years-selection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 2px green;
    padding: 10px;
}

.years-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border: solid 2px rgb(255, 0, 136);
}

.years-options {
    border: solid 2px rgb(255, 162, 0);
    padding: 10px;
    color: black;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
}

.years-options:hover {
    background-color: rgb(117, 234, 255);
}








.months-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: solid 2px rgb(0, 0, 0);
}

.yearMonths-display {
    width: 100%;
    border: solid 2px rgb(115, 0, 255);
    background-color: #ff6f00;

    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 30px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
    
}

.yearMonths-display:hover {
    background-color: #ffc800;
}

.yearMonths-display:hover .carrot::after {
    transform: scaleY(-1); 
    color: #ff5500; 
} 

.months-selection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 2px green;
    padding: 10px;
}

.months-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border: solid 2px rgb(255, 0, 136);
}

.months-options {
    border: solid 2px rgb(255, 162, 0);
    padding: 10px;
    color: black;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
}

.months-options:hover {
    background-color: rgb(117, 234, 255);
}