/* Resetting default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Setting up basic layout */
html, 
body {
    height: 100%;
/* 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

body {
    overflow-x: hidden;
    background-color: rgb(137, 137, 137);
    
}



.calendar-container {
    
    height: 100%;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  
}

.year-month {

    font-size: 15px;
    text-align: center;
    background-color: #9dff00;
}

.calendar {
    height: 300px;
    width: 250px;

    
    border-collapse: collapse;

    box-shadow: 0 0 20px #00000026;
    table-layout: fixed;

    margin: 0.5rem;



}


/* Background */
.calendar thead tr {
    background-color: #990000;
    color: #ffffff;

    font-size: 15px;
}

.calendar tbody tr:nth-of-type(odd) {
    background-color: #ffffff;
}

.calendar tbody tr:nth-of-type(even) {
    background-color: #c5c5c5;
}


.calendar th {
    height: 30px;
    text-align: center;

    border: 2px solid #000000;
}

.calendar td {

    font-size: 15px;
    padding: 3px 8px;

    vertical-align: top;
    text-align: right;

    border: 2px solid #000000;
}

.calendar td:hover {
    background-color: #e0f7fa;
    cursor: pointer;
}