<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Styled Calendar</title>

    <link rel="stylesheet" href="static/css/calendar.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

    <div class="years-container">
         <!-- Dynamic year will be appended here -->
    </div>

    <div class="months-container">
        <!-- Dynamic year will be appended here -->
   </div>

    <div class="calendar-container">
        <!-- Dynamic calendar will be appended here -->
    </div>


    <script src="static/js/calendar.js"></script>

</body>
</html>
